<form class="login-user-form">
        <legend>Login</legend>
        <table class="table">
        <tr>
            <td>Username</td>
            <td><input type="text" name="user_name" value="" /></td>
        </tr>
        <tr>
            <td>Password</td>
            <td><input type="password" name="password" value="" /></td>
        </tr>
        <tr>
            <td><button type="submit" class="btn">submit</button></td>
            <td></td>
        </tr>
        
    </from>